
<div class="body-bg">
  <h1 class="title">L I Q R</h1>
  <h2>modern mixology  |  est. 2018</h2>

  <div class="menu">
    <li><a href="#" class="menuitem">Home</a></li>
    <li><a href=<%= new_user_path %> class="menuitem">Sign Up</a></li>
    <li><a href=<%= recipes_path %> class="menuitem">Browse Cocktails</a></li>
    <li><a href="#" class="menuitem">Browse Ingredients</a></li>
    <li><a href="#" class="menuitem">Contact</a></li>
  </div>
</div>
