
<div class="homepage">

  <h1 class="title">HOME ℬARTENDR</h1>

  <h2 class="subtitle">modern mixology for aspiring professionals  //  est. 2018</h2>

  <div class="menu">
    <li><a href="#" class="menuitem">Home</a></li>
    <li><a href=<%= new_user_path %> class="menuitem">Sign Up</a></li>
    <li><a href=<%= recipes_path %> class="menuitem">Cocktails</a></li>
    <li><a href=<%= ingredients_path %> class="menuitem">Ingredients</a></li>
    <li><a href="#" class="menuitem">Contact</a></li>
  </div>

  <p class="quote">
    "Here's to alcohol, the cause of, and solution to, all life's problems." <br>
    - The Simpsons
  </p>
</div>
