<div class="new">
  <h1>Sign Up Page</h1><br>

  <p>
    Hooray! Thanks for choosing to be a part of the LIQR community! You're on
    your way to making your life a ton easier!
  </p><br>

  <%= render 'form' %>
</div>
