<div class="profilepage">

<h1>What Can I Make??</h1>

<% if @recipes != [] %>
  <% @recipes.each do |recipe| %>
    <ul>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </ul>
  <% end %>
<% end %>

<%= link_to "Back to profile", user_path(current_user) %>
</div>
