// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('limes.jpeg');
  // background-image: url("cocktail.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
