// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

}

.cocktail {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('bg.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.recipepage {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('mojito.jpeg');
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.recipepage .content {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // padding-bottom: 5000px;
  // min-height: 100vh;
  // max-height: 100vh;
  // overflow-y: scroll;
}

// .the_body {
//   width: 65%;
//   margin: 0 auto;
// };

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-list {
  height: 50vh;
  overflow-y: scroll;
}
